<h1>Insert</h1>

<form method="post">
    <label>Apellido</label>
    <br/>
    <input type="text" name="apellido"/>
    <hr/>
    <label>Oficio</label>
    <br />
    <input type="text" name="oficio" />
    <hr />
    <label>Dir</label>
    <br />
    <input type="number" name="dir" />
    <hr />
    <label>Salario</label>
    <br />
    <input type="number" name="salario" />
    <hr />
    <label>Comisión</label>
    <br />
    <input type="number" name="comision" />
    <hr />
    <label>Departamento</label>
    <br />
    <input type="text" name="dept" />
    <hr />
    <button>Insert</button>
</form>